/* ---------- */
/* Reset */
/* ---------- */

*,
*::after, 
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

.logo {
    width: 120px;
    color: #fff;
}

/* ---------- */
/* Header */
/* ---------- */

header {
    background: #222521;
    padding: 1em ;
}